@charset "UTF-8";
body {
	font-family: Arial, Helvetica, sans-serif;
}

#logo {
	width: 230px;
	height: 100px;
	position: absolute;
	bottom: 0;
	background-color: #002F58;
	z-index: 1;
	cursor: pointer;
}

#strip {
	width: 230px;
	height: 100px;
	position: absolute;
	bottom: 0;
	background-color: orange;
	z-index: 0;
}

#logo:hover{
	bottom: 2px;
}

titleyellow {
	pointer-events: none;
	color:#EBA342;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	z-index: 1;
	position: relative;
}
titlewhite {
	pointer-events: none;
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 2px;
	z-index: 1;
	position: relative;
}
smalltitle {
	pointer-events: none;
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
	z-index: 1;
	position: relative;
}

name {
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 12px;
	position: relative;
	top: -11px;
}

small {
	font-size: 6px;
	line-height: 50%;
	line-height: 5px;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}

hr {
    height: 1px;
    background: #ebebeb;
    width: 100%;
    font-size: 1px;
	border: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

table {border: none;}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    background-color: #26637E;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 10px;
	margin: 5px 5px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
	font-weight: 600;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #5F899C;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #5F899C;}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none; */
}

.default {display: block !important;}

.maindashboard td {
	vertical-align: top;
}

.dashboardwindow {
	padding-bottom: 10px;
}

.dashboardwindow td {
	padding: 10px;
}

.dashboardwindow tr:nth-child(odd) {
	background-color: #EBEBEB;
	font-size: 14pt;
}

.dashboardwindow tr:nth-child(even) {
	background-color: #ffffff;
}

greylabel {
	color: #999999;
	font-size: 12pt;
}

#newdata {
	color: #e6e6e6;
	font-size: 12pt;
}

loadbutton{
	cursor: pointer;
border:1px solid #d7dada; -webkit-border-radius: 8px; -moz-border-radius: 8px;border-radius: 8px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 8px 5px 8px; text-decoration:none; display:inline-block;font-weight:bold; color: #2E2E2E;
 background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

loadbutton:hover{
 border:1px solid #bfc4c4;
 background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
 background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}

.linklist {
	list-style-type:none;
	padding: 10px;
	margin-top: 0px;
}

.linklist li {
	padding: 10px 10px 10px 10px;
	width:auto;
	height:auto;
}

.linklist li a {
	color: #e4e4e4;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
	width:auto;
	height:auto;
	border-radius: 5px;
}

.linklist li a:hover {
	background-color: #5e8398;
}

.linkheader {
	color: #bbc8cf;
	font-size: 16pt;
}

classname {
	color: #4580b9;
	font-weight: bold;
	font-size: 12pt;
}

classdesc {
	color: #999999;
	font-size: 10pt;
}