@charset "UTF-8";
body {
	font-family: Arial, Helvetica, sans-serif;
}

#logo {
	width: 230px;
	height: 100px;
	position: absolute;
	bottom: 0;
	background-color: #002F58;
	z-index: 1;
	cursor: pointer;
}

#strip {
	width: 230px;
	height: 100px;
	position: absolute;
	bottom: 0;
	background-color: orange;
	z-index: 0;
}

#logo:hover{
	bottom: 2px;
}

titleyellow {
	pointer-events: none;
	color:#EBA342;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	z-index: 1;
	position: relative;
}
titlewhite {
	pointer-events: none;
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 2px;
	z-index: 1;
	position: relative;
}
smalltitle {
	pointer-events: none;
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
	z-index: 1;
	position: relative;
}

name {
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 12px;
	position: relative;
	top: -11px;
}

small {
	font-size: 6px;
	line-height: 50%;
	line-height: 5px;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}

table {border: none;}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    background-color: #26637E;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 10px;
	margin: 5px 5px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
	font-weight: 600;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #5F899C;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #5F899C;}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none; */
}

.default {display: block !important;}

.dashboardwindow td {
	padding: 10px;
}

.dashboardwindow tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.dashboardwindow tr:nth-child(eve) {
	background-color: #ffffff;
}