@charset "UTF-8";
body {
	font-family: Arial, Helvetica, sans-serif;
}

titleyellow {
	color:#EBA342;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
}
titlewhite {
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 2px;
}
smalltitle {
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
}

small {
	font-size: 6px;
	line-height: 50%;
	line-height: 5px;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}

table {border: none;}